
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }
        
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        
        .row {
            margin-bottom: 10px;
        }
        
        .btn {
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>CV Data Profile List</h2>
        <br>
        <br>
        {% for profiles in profile%}
        <div class="row">
            <div class="col-md-6">
                {{profiles.name}}
            </div>
            <a href="/{{profiles.id}}" class="btn btn-warning p-2">Download CV</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
