<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><div><div>
    <h2>{{userpro.name}}</h2>
    <h2>{{userpro.email}}</h2>
    <h2>{{userpro.phone}}</h2>
    </div>  
    <div>
        <img src="{{userpro.image}}" alt="">
    </div>    

    </div>

    <hr/>
    <br>
    <p>summery</p>
    <p>{{userpro.summery}}</p>
    <p>skills</p>
    <p>{{userpro.skill}}</p>
    <p>education</p>
    <ul>
        <li>{{userpro.school}}</li>
        <li>{{userpro.university}}</li>
        
    </ul>




    
    
</body>
</html>